@model SnippetShare.Models.ShowVM
@{
    ViewBag.Title = "Show";
}

<h3>@Model.TitleToShow</h3>

@Html.DisplayFor(m => m.Content)
<div>
    Posted @Html.ToFriendlyDate(Model.DatePublished)
    by <span id="author-name">@Model.FriendlyUserName</span>
</div>

@if (User.Identity.IsAuthenticated && User.Identity.Name == Model.UserName)
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
}
@Html.ActionLink("Raw", "Raw", new { id = Model.Id })

@Html.Label("Embedding code:")
@Html.ShowEmbeddedCode(Url.Action("Embedded", "Home", new { id = Model.Id }, Request.Url.Scheme))
<p>Append "/follow" to the iframe's src to navigate the user to here when he or she ctrl+click the iframe.</p>

@section Scripts {
    @Scripts.Render("~/bundles/prettifier")
    <script>
        window.onload = function () {
            prettyPrint();
        };
    </script>
}